<div id="shopify-section-featured-products" class="shopify-section index-section">
	<div class="page-width">

		<!-- Add conditional to pull from settings schema -->
		<div class="section-header text-center">
			<h2>The users text</h2>
		</div>

		<!-- items grid -->
		<ul class="grid grid--uniform grid--view-items">

			<!-- item container -->
			<li class="grid__item grid__item--collection">
				<!-- item page link -->
				<a class="product-image" href="#"></a>
				<div class="grid-view-item__image-wrapper">
					<!-- item image add for specific image in collection -->
					<img src="image.jpg">
				</div>

				<!-- product title -->
				<div class="h4 collection-item__title">PRODUCT TITLE</div>

				<!--product price -->
				<div class="price">PRICE</div>

				<!-- add cart button for step 3 -->
				<button type="button">Add to cart/place holder</button>

			</li>

			<!-- second item etc -->

		</ul>

	</div>
</div>


{% schema %}
  {
    "name": "Featured-Products",
    "tag": "section",

    "settings": [
    	{
    		"type": "text",
    		"id": "title",
    		"label": "Heading",
    		"default": "text"
    	},
        {
            "type": "checkbox",
            "id": "show_css_grid_section",
            "label": "Show CSS Grid",
            "default": true
        },
        
        {
            "type": "select",
            "id": "featured-products-collection",
            "label": "Collection",
            "options": [
                {
                    "value": "first",
                    "label": "First"
                },
                {
                    "value": "second",
                    "label": "Second"
                }

            ]
        }
    ],
    "presets": [
    	{
    		"name": "Featured Products",
    		"category": "custom section"
    	}
    ]
  }
{% endschema %}

{% stylesheet %}


{% endstylesheet %}

{% javascript %}
{% endjavascript %}
